.nav
{
  padding-left: 10px;
  height: 10vh;
  background-color: bisque;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav h1{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 2.2rem;
}

.logo{
  padding-right: 10px;
  width:30px;
  height:30px;
}

.con-1
{
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.add-album
{
   border:2px solid rgb(11, 6, 6);
   border-radius: 6px 6px ;
   background-color: rgb(243, 245, 204);
   width:100px;
   height: 30px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   cursor: pointer;
}

.add-album:hover
{
   background-color:  rgb(251, 255, 183);
   height: 33px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.album-form
{
   border-radius: 7px 7px ;
   background-color: aliceblue;
   width:50vw;
   height: 25vh;
   padding-left: 50px;
   position: relative;
}
.image-form
{
   border-radius: 7px 7px ;
   background-color: aliceblue;
   width:50vw;
   height: 26vh;
   padding-left: 50px;
   position: relative;
}
.image-form input
{
   border-radius: 6px 6px ;
   background-color: rgb(255, 255, 255);
   width:90%;
   height:17%;
   display: flex;
   border: 1px solid aliceblue;
}

.image-form input:hover
{
  border: 1px solid black;
  transition:0.9s ease;

}


.album-form input
{
   border-radius: 6px 6px ;
   background-color: rgb(255, 255, 255);
   width:90%;
   height: 20%;
   display: flex;
   border: 1px solid aliceblue;
}
.album-form input:hover
{
  border: 1px solid black;
  transition:0.9s ease;

}


.clr-btn
{ 
  right:5%;
  top:75%;
  border-radius: 10px 10px ;
  background-color: rgb(230, 39, 18);
  width:80px;
  height: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid rgb(216, 124, 114);
  position: absolute;
}

.crt-btn
{
  border: 2px solid rgb(150, 197, 215);
  right:17%;
  top:75%;
  border-radius: 9px 9px ;
  background-color: rgb(120, 194, 224);
  width:80px;
  height: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
}

.albumlist-con{
  width:100%;
  flex-wrap: wrap;
  gap:20px;
  display: flex;
  justify-content: space-evenly;
}
.imageList-con
{
  width:100%;
  flex-wrap: wrap;
  gap:20px;
  display: flex;
  justify-content: space-around;
}
.album-con
{
    width:15vw;
    height:25vh;
    background-color: rgb(226, 226, 226) ;
    border-radius:  30px 30px 5px 5px;
    position: relative;
    transition: border 0.2s ease;

    /* border: 5px solid rgb(226, 226, 226) ; */
}
.image-item
{
  width:25vw;
  height:25vh;
  background-color: rgb(226, 226, 226) ;
  border-radius:  30px 30px 5px 5px;
  position: relative;
  transition: border 0.2s ease;
}
.album-imgcon
{
  position: absolute;
   background-color: white;
   width:90%;
   height: 65%;
   left:10px;
   top:10px;
   border-radius:  30px 30px 5px 5px;
}

.img-con
{
  position: absolute;
  background-color: white;
  width:90%;
  height: 75%;
  left:19px;
  top:10px;
  border-radius:  30px 30px 5px 5px;
}

.album-img{
 position: absolute;
 width:30%;
 height:40%;
 left:64px;
 top:39px;
}
.img{
 position: absolute;
 width:90%;
 height:90%;
 left:18px;
 top:9px;
 border-radius:  30px 30px 5px 5px;
}

.album-con:hover
{
   /* border:5px solid rgb(204, 174, 105); */
   background-color: rgb(244, 221, 188); 
}
.album-name,.img-name
{
   position: absolute;
   bottom:0;
   margin-left: 30px;
   margin-bottom:10px;   
}

.back-btn
{
  width:50px;
  height:50px;
  margin-left: 100px;
  background-color: blanchedalmond;
  border-radius: 50%;
}
.edit{
  width:30px;
  height:30px;
  position: absolute;
  right:15%;
  top:-9%;
  z-index: 2;
  cursor: pointer;
}

.delete{
  width:30px;
  height:30px;
  position: absolute;
  right:5%;
  top:-9%;
  z-index: 2;
  cursor: pointer;
}
